body {
	background-color: white;
	color: black;
	font-size: 24px;
	text-align: center;
}

.container {
	margin-top: 100px;
}

button {
	font-size: 30px;
	padding: 10px;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
}

button:disabled {
	background-color: gray;
	color: white;
	cursor: not-allowed;
}
